
  <div class="input-group input-group-lg">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" value=""
      aria-label="Checkbox for following text input"
      [(ngModel)]="allCompleted"
      (ngModelChange)="onCheckBoxChanged()"
      >
    </div>

    <input type="text" class="form-control"
    placeholder="Input Task To Do Here"
    aria-label="Tasks" aria-describedby="basic-addon1"
    [(ngModel)]="inputTask"
    (keyup.enter)="onCreateTask()">

    <button id="CreateTask"
    class="btn btn-primary float-end"
    (click)="onCreateTask()"
    >
    CreateTask
    </button>
  </div>



